.clear {
	clear: both;
}

.display-container.display-size-12 {
	margin-bottom: 24px;
}

.display-container {
	position: relative;
	margin-right: 24px;
	float: left;
}

.display-container div.segment-x,
.display-container div.segment-y {
	position: absolute;
}

.display-container span.segment-border {
	display: block;
	position: absolute;
}

.display-container.display-size-12 {
	width: 122px;
	height: 220px;
}

.display-container.display-size-12 .segment-x {
	width: 72px;
	left: 13px;
	border-bottom: 12px solid #dc2626;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-x .segment-border {
	top: 12px;
	left: -12px;
	right: -12px;
	border-top: 12px solid #dc2626;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.display-container.display-size-12 .segment-y {
	height: 72px;
	width: 0;
	border-right: 12px solid #dc2626;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-y .segment-border {
	position: relative;
	left: 12px;
	height: 72px;
	margin-top: -12px;
	border-left: 12px solid #dc2626;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.display-container.display-size-12 .segment-a {
	top: 0;
}

.display-container.display-size-12 .segment-b {
	top: 13px;
	left: 74px;
}

.display-container.display-size-12 .segment-c {
	top: 87px;
	left: 74px;
}

.display-container.display-size-12 .segment-d {
	top: 148px;
}

.display-container.display-size-12 .segment-e {
	top: 87px;
	left: 0px;
}

.display-container.display-size-12 .segment-f {
	top: 13px;
	left: 0px;
}

.display-container.display-size-12 .segment-g {
	top: 74px;
}

.display-no-1 .segment-a,
.display-no-1 .segment-d,
.display-no-1 .segment-e,
.display-no-1 .segment-f,
.display-no-1 .segment-g {
	/*display: none;*/
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.display-no-2 .segment-c,
.display-no-2 .segment-f {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-3 .segment-e,
.display-no-3 .segment-f {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-4 .segment-a,
.display-no-4 .segment-d,
.display-no-4 .segment-e {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-5 .segment-b,
.display-no-5 .segment-e {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-6 .segment-b {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-7 .segment-d,
.display-no-7 .segment-e,
.display-no-7 .segment-f,
.display-no-7 .segment-g {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-8 {}

.display-no-9 .segment-e {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-0 .segment-g {
	/*display: none;*/
	opacity: 0.1;
}

/* clock */

#display-2, #display-4 {
	margin-right: 60px;
}

#vertical-center {
	position: relative;
	width: 924px;
	height: 220px;
}

#clock-container {
	width: 924px;
	height: 220px;
}

#clock-container .display-container:last-child {
	margin: 0;
}

#clock-container:after {
	display: block;
	content: '.';
	visibility: hidden;
	clear: both;
}

@media (max-width: 1024px) {
	#vertical-center {
		transform: scale(0.7);
	}
}

@media (max-width: 768px) {
	#vertical-center {
		transform: scale(0.5);
	}
}

@media (max-width: 480px) {
	#vertical-center {
		transform: scale(0.35);
	}
}
